<% if @response.code == '200' %>
  <h1>Change password request submitted</h1>
  <p>You will receive an e-mail at <%= @current_user.email %> with a link to change your password.</p>
<% else %>
  <p>Sorry, we couldn't process your password change request:</p>
  <p><strong><%= @response.message %></strong></p>
<% end %>

<%= link_to 'Back', user_path %>