<div class="stetson-page-meta">
  <div class="container">
    <% if @page.parent %>
      <h1>New page within <em><%= @page.parent.title %></em></h1>
    <% else %>
      <h1>New top-level page</h1>
    <% end %>
  </div>
</div>

<%= render 'form', page: @page %>