article.stetson {
  font-family: Merriweather, serif;
  font-weight: 300;
  line-height: 1.5;

  > * + * {
    margin-top: 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }

  h1 { font-size: 2.2em; }
  h2 { font-size: 1.9em; }
  h3 { font-size: 1.6em; }
  h4 { font-size: 1.3em; }
  h5 { font-size: 1.1em; }

  ol, ul {
    margin-left: 1.25em;
  }

  ol { list-style: decimal; }

  blockquote {
    border-left: 3px solid #ccc;
    color: #666;
    padding-left: 1em;
  }

  table {
    width: 100%;
    th, td {
      padding: 0.25em 1em 0.25em 0;
    }
    thead th {
      text-align: left;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
    }
  }

  pre {
    font-family: monospace;
    font-size: 11pt;
    code {
      display: block;
      overflow-x: scroll;
      padding: 1rem;
    }
  }

  code {
    font-family: monospace;
    background-color: #333;
    padding: 0.2em 0.3em;
    vertical-align: 1px;
  }

  .provenance {
    // background-color: whitesmoke;
    // padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    border-top: 3px double #ccc;
    padding-top: 1rem;
    color: #999;
    margin-top: 6rem;
    font-size: 10pt;
  }
}