.versions, .version-metadata {
  font-family: 'Open Sans', sans-serif;
}

.versions {
  font-family: 'Open Sans', sans-serif;
  h2 { font-size: 1.6em; margin-bottom: 1rem; }
  table {
    width: 100%;
    th, td { padding: 0.75rem; }
    th:first-child, td:first-child { padding-left: 0; }
    th:last-child, td:last-child { padding-right: 0; }
    thead th {
      color: #666;
      text-align: left;
      border-bottom: 1px solid #ccc;
    }
    .text-minor {
      margin-top: 0.25rem;
      font-size: 9pt;
    }
  }
}

.version-metadata {
  background-color: whitesmoke;
  padding: 1rem 0;
  margin-top: -2rem;
  margin-bottom: 2rem;
}